* {
  font-family: 'Helvetica', 'Arial', sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
}

.container {
  height: 100vh;
  display: flex;
  /* Change values 👇 to experiment*/
  align-items: center;
}